.header__top {
  background: #fff;
  box-shadow: 0px 2px 10px -4px #bdbdbd;
  margin-bottom: 2px;
}
.header__top .menu_button {
  display: none;
}
.header__top .menu_button svg {
  width: 30px;
  height: 30px;
  fill: #00b035;
}
.header__top .header__items {
  flex-wrap: wrap;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.header__top .header__items .top__acc {
  text-align: center;
}
.header__top .header__items .top__acc a {
  color: #424242;
  font-family: 'Open Sans';
  text-align: center;
}
.header__top .header__items .top__location {
  display: flex;
  align-items: center;
  align-content: center;
}
.header__top .header__items .top__location .location__ico svg {
  width: 15px;
  height: 15px;
  fill: #bdbdbd;
}
.header__top .header__items .top__location .location__text {
  margin: 0;
  padding: 0;
  color: #757575;
  font-size: 12px;
}
.header__top .header__items .top__location .location__text:hover {
  border-bottom: 1px dashed #757575;
  margin-bottom: -1px;
  cursor: default;
}
.header__top .header__items .social__list {
  margin-bottom: 0;
  display: flex;
  align-content: center;
  align-items: center;
}
.header__top .header__items .social__list .social__link {
  width: 25px;
  height: 25px;
  display: block;
  position: relative;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  margin-right: 5px;
  transition: all .3s;
}
.header__top .header__items .social__list .social__link:last-child {
  margin-of-type: 0;
}
.header__top .header__items .social__list .social__link:hover {
  border-color: #00b035;
}
.header__top .header__items .social__list .social__link:hover svg {
  fill: #00b035;
}
.header__top .header__items .social__list .social__link svg {
  transition: all .3s;
  fill: #bdbdbd;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.header__top .top__navigation .nav__list {
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}
.header__top .top__navigation .nav__list .nav__item {
  padding: 0 25px;
  flex-grow: 1;
  text-align: center;
}
.header__top .top__navigation .nav__list .nav__link {
  color: #424242;
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'Roboto';
  transition: all .3s;
  text-align: center;
}
.header__top .top__navigation .nav__list .nav__link:hover {
  text-decoration: underline;
}
.header__bottom {
  padding: 15px 0;
}
.header__bottom .items {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.header__bottom .items > div {
  margin: 0 10px;
}
.header__bottom .items .search__form {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  flex-grow: 1;
  margin: 0 15px;
  flex-shrink: 2;
}
.header__bottom .items .search__form form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__bottom .items .search__form form select {
  border: none;
  background: #bdbdbd;
  color: #fff;
  font-size: 12px;
  font-family: 'Open Sans';
  margin: 0;
  height: inherit;
  outline: none;
  padding-left: 10px;
  overflow: hidden;
  width: 80px;
}
.header__bottom .items .search__form form select option {
  background: #fff;
  color: #000;
  width: 200px;
  border-bottom: 1px solid #bdbdbd;
}
.header__bottom .items .search__form form input[type="text"] {
  border: none;
  margin: 0;
  outline: none;
  padding: 5px;
  flex-grow: 1;
}
.header__bottom .items .search__form form input[type="submit"] {
  border: none;
  margin: 0;
  outline: none;
  background: #bdbdbd;
  display: inline-block;
  height: 100%;
  color: #fff;
  padding: 0;
  width: 32px;
  height: 32px;
}
.header__bottom .items .brands__button .button__link {
  display: block;
  padding: 5px 20px;
  border: 1px solid #bdbdbd;
  text-transform: uppercase;
  border-radius: 5px;
  color: #616161;
  transition: all .4s;
}
.header__bottom .items .brands__button .button__link:hover {
  background: #616161;
  color: #fff;
}
.header__bottom .items .phone .phone__ico {
  display: inline-block;
}
.header__bottom .items .phone .phone__ico svg {
  fill: #bdbdbd;
  width: 17px;
  height: 17px;
}
.header__bottom .items .phone a {
  color: #757575;
}
.header__bottom .items .basket {
  display: flex;
  align-content: center;
  align-items: center;
}
.header__bottom .items .basket__ico {
  margin-right: 17px;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  background: #ff4081;
  transition: all .4s;
}
.header__bottom .items .basket__ico:hover {
  cursor: pointer;
  background: #ff5a92;
}
.header__bottom .items .basket__ico:hover .amount {
  background: #00ca3d;
}
.header__bottom .items .basket__ico svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: #fff;
}
.header__bottom .items .amount {
  transition: all .4s;
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #00b035;
  color: #fff;
  text-align: center;
  line-height: 2;
  top: -8px;
  right: -8px;
  font-size: 12px;
  font-family: 'Open Sans', sans;
}
.header__bottom .items .basket__text {
  text-align: center;
}
.header__bottom .items .basket__text .number {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans';
  font-weight: bold;
}
.header__bottom .items .basket__text .enter_basket {
  padding: 0;
  margin: 0;
}
.header__bottom .items .basket__text .enter_basket .enter__basket_link {
  font-size: 11px;
  font-family: 'Open Sans';
  color: #757575;
}
.header__bottom .items .basket__text .enter_basket .enter__basket_link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 770px) {
  .header__top .menu_button {
    display: block;
  }
  .header__top .header__items {
    display: none;
  }
  .header__bottom .items > div {
    margin-bottom: 10px;
  }
  .header__bottom .items .search__form form select {
    flex-grow: 1;
    flex-basis: 600px;
  }
  .header__bottom .items .search__form form input[type="text"] {
    flex-shrink: 2;
  }
  .header__bottom .items .search__form form input[type="submit"] {
    flex-grow: 1;
  }
}
@media screen and (max-width: 700px) {
  .nav__list .nav__item {
    flex-grow: 10;
    flex-basis: 300px;
  }
  .logo,
  .search__input,
  .brands__button,
  .phone,
  .basket {
    flex-basis: 700px;
    text-align: center;
    margin-bottom: 20px;
  }
}
